<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../scss/app.css">
    <link rel="stylesheet" href="../scss/views/products.css">
</head>
<body id="app" class="main">
<header id="header">
    <f-header></f-header>
</header>
<section class="content"><div class="banner"></div></section>
<section class="join">
    <div>
        <h2>We offer a full range of FRP products including gratings, railings, ladders, stairs, plates and work platforms.</h2>
        <h4>
            In addition to our standard FRP stair solutions and structural products, we provide products with resin formulations engineered for specific corrosion, safety and strength requirements in a variety of custom shapes and colors.
        </h4>
    </div>
</section>
<section class="products">
    <div class="products-lists" v-for="n in productsLists" v-if="n.parent_id===257">
        <div>
            <img :src="origin+n.image_url" alt="">
            <div>
                <span>{{n.name}}</span>
                <span>{{{n.content}}}</span>
                <a class="top-tilte" :href="n.jump_url+'?id='+n.id+'&name='+n.name">详情</a>
            </div>
        </div>
    </div>
</section>
<section id="footer" class="about">
    <f-footer></f-footer>
</section>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/require.js" data-main="../config.js"></script>
<script src="../js/index.js"></script>
<script>
    function initHtml(Vue){
        new Vue({
            el: '#app',
            data: {
                origin:window.origin,
                productsLists:[]
            },
            methods:{
            },
            ready(){
                this.$set('productsLists',JSON.parse(sessionStorage.getItem('menu')));
                $('.products').show();
            }
        })
    }
</script>
</html>