body.main{
  .content{
    position: relative;
    .banner{
      height: 300px;width: 100%;
      background: url('../../img/fiber/frp-banner.jpg') no-repeat;    background-size: contain;  background-attachment: fixed;
    }
  }
}
@media screen and (max-width: 1500px){
  body.main{
  }
}
@media screen and (max-width: 1200px){
  body.main{
  }
}
@media screen and (max-width: 1000px){
  body.main{
    header{
    }
  }
}